/**
 * Colors variables
 */
@use 'sass:map';

$theme-colors: (
  default: (primary: #FFFFFF,
    secondary: #5B9BD5,
    shadow: #102A43,
    white: #FFFFFF,
  ),

  contrasted: (primary: #5B9BD5,
    secondary: #FFFFFF,
    shadow: #102A43,
    white: #FFFFFF,
  ),
);